.restaurants__city-bottom-info__description{
    p{
        margin-top: 10px;
        margin-bottom: 18px;
    }
}
.p-count{
    width: 23px; 
    height: 23px; 
    line-height: 23px;
    position: absolute;
}

a.menu__icon-legend__link:hover{
    color: #A70303;
}

.othercountries a:hover{
   color: #ec1c24;
}

.othercountries {
    float: left;
    width: 100%;
    height: auto;
}

.othercountries p {
    text-align: center;
}

.othercountries a {
    color: #666;
    cursor: pointer;
}
       
/* hide mobile version by default */
  
.svg-logo-wrapper .mobile-logo {
    display: none;
}
/* when screen is less than 600px wide
show mobile version and hide desktop */
@media (max-width: 768px) {
    .svg-logo-wrapper .mobile-logo {
        display: block;
   }
    .svg-logo-wrapper .logo-icon {
        display: none;
   }
}

.nanobar {
    width: 100%;
    height: 4px;
    z-index: 9999;
    top:0
  }
  .bar {
    width: 0;
    height: 100%;
    transition: height .3s;
    background:#ec1c24 !important;
  }